<div class="routes-play">
  <h2 class="routes-play__title">{{route | routename}}</h2>
  <span class="routes-play__subtitle">{{getCapacity()}}</span>


  <div class="routes-play__body" >

    <div class="routes-play__info" *ngIf="hasFinished">
      <div class="routes-play__info-complete">Rota concluída!
        <button mat-raised-button color="primary" type="button" class="routes-play__body-button"
                (click)="goToRoutes()">
          <span>FINALIZAR</span>
        </button>
      </div>

    </div>

    <div class="routes-play__info" *ngIf="!hasFinished">
      <div class="routes-play__info-destination"> {{step.address}}</div>
      <div class="routes-play__info-name">{{step.description}}</div>
      <div class="routes-play__info-name">Parada {{this.stepIndex + 1 + " de " + this.steps.length}}</div>
    </div>
    <div class="routes-play__buttons">
      <button class="routes-play__button"  mat-fab (click)="goBack()" [disabled]="isBackDisabled()">
        <mat-icon class="routes-play__button-icon">arrow_back</mat-icon>
      </button>

      <a class="button routes-play__button"  [matMenuTriggerFor]="menu"  mat-fab color="accent" [disabled]="hasFinished || !step.isStudent">
        <mat-icon class="routes-play__button-icon">more_horiz</mat-icon>
      </a>

      <button class="routes-play__button" mat-fab color="primary" (click)="goForward()" [disabled]="hasFinished">
        <mat-icon class="routes-play__button-icon">check</mat-icon>
      </button>
    </div>
  </div>

</div>

<mat-menu #menu="matMenu" yPosition="above">
  <a class="button"  mat-menu-item [href]="'tel:' + step.phone">
    <mat-icon >phone</mat-icon>
    <span>Chamar responsável</span>
  </a>
  <button mat-menu-item (click)="deleteCurrentStep()">
    <mat-icon>cancel</mat-icon>
    <span>Ignorar parada</span>
  </button>
</mat-menu>

