<div class="routes-play">
  <h2 class="routes-play__title" *ngIf="!loading">{{route | routename}}</h2>
  <span class="routes-play__subtitle" *ngIf="hasConfirmedStudents && !loading">{{getCapacity()}}</span>
  <span *ngIf="!hasConfirmedStudents && !loading" style="margin-block: 12px">Confirme a presença dos estudantes:</span>


  <div class="routes-play__body" *ngIf="hasConfirmedStudents && !loading">

    <div class="routes-play__info" *ngIf="hasFinished">
      <div class="routes-play__info-complete">Rota concluída!
        <button mat-raised-button color="primary" type="button" class="routes-play__body-button"
                (click)="goToRoutes()">
          <span>FINALIZAR</span>
        </button>
      </div>

    </div>

    <div class="routes-play__info" *ngIf="!hasFinished">
      <div class="routes-play__info-destination"> {{step.address}}</div>
      <div class="routes-play__info-name">{{step.description}}</div>
      <div class="routes-play__info-name">Parada {{this.stepIndex + 1 + " de " + this.steps.length}}</div>
    </div>
    <div class="routes-play__buttons">
      <button class="routes-play__button" mat-fab (click)="goBack()" [disabled]="isBackDisabled()">
        <mat-icon class="routes-play__button-icon">arrow_back</mat-icon>
      </button>

      <a class="button routes-play__button" *ngIf="hasFinished || !step.studentId" mat-fab color="accent"
         [disabled]="true">
        <mat-icon class="routes-play__button-icon">more_horiz</mat-icon>
      </a>

      <a class="button routes-play__button" *ngIf="!(hasFinished || !step.studentId)" [matMenuTriggerFor]="menu" mat-fab color="accent">
        <mat-icon class="routes-play__button-icon">more_horiz</mat-icon>
      </a>

      <button class="routes-play__button" mat-fab color="primary" (click)="goForward()" [disabled]="hasFinished" >
        <mat-icon class="routes-play__button-icon">check</mat-icon>
      </button>
    </div>
  </div>

  <div class="routes-play__body" style="display: flex; justify-content: center; align-items: center" *ngIf="loading">
    <mat-spinner diameter="100"></mat-spinner>
  </div>

  <!--  Student confirmation  -->
  <div class="routes-play__body-confirm-students" *ngIf="!hasConfirmedStudents && !loading">

    <mat-action-list #student class="routes-play__list">
      <mat-divider></mat-divider>

      <mat-list-item *ngFor="let studentSelect of studentsSelect" class="routes-play__item" (click)="onStudentClick(studentSelect)">
        <mat-checkbox class="routes-play__checkbox" [ngModel]="studentSelect.selected" [disabled]="true"></mat-checkbox>
        <div style="display: flex; flex-direction: column">
          <div class="routes-play__item-text">{{studentSelect.student.name}}</div>
          <div class="routes-play__item-sub-text">{{studentSelect.student.address}}</div>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-action-list>
  </div>

  <button *ngIf="!hasConfirmedStudents && !loading" mat-fab color="primary" class="routes-play__add-button" (click)="confirmStudents()">
    <mat-icon>check</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu" yPosition="above" >
  <a  class="button" mat-menu-item [href]="'tel:' + step.phone">
    <mat-icon>phone</mat-icon>
    <span>Chamar responsável</span>
  </a>
  <button mat-menu-item (click)="deleteCurrentStep()">
    <mat-icon>cancel</mat-icon>
    <span>Ignorar parada</span>
  </button>
</mat-menu>

