<form #routesForm="ngForm" class="routes-dialog" (ngSubmit)="routesForm.valid && onSubmit()">


  <div class="routes-dialog__body">
    <h2 class="routes-dialog__title">Informações</h2>
    <mat-form-field class="routes-dialog__field">
      <input matInput placeholder="Nome" name="name" [(ngModel)]="route.name" type="text"  required>
      <mat-error>
        Insira o nome da rota
      </mat-error>
    </mat-form-field>

    <mat-form-field class="routes-dialog__field" style="margin-bottom: 0">
      <mat-label>Turno</mat-label>
      <mat-select [(ngModel)]="route.shift" name="shift">
        <mat-option
          *ngFor="let shift of shifts"
          [value]="shift"
        >
          {{shift | shift}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h2>Rota</h2>

    <button mat-raised-button color="primary" type="button" class="routes-dialog__body-button"
            (click)="openStudentSelectDialog()">
      <mat-icon>person</mat-icon>
      <span>Selecionar estudantes</span>
    </button>

    <mat-divider></mat-divider>
    <span class="routes-dialog__tag">Início</span>

    <mat-action-list #student class="routes-dialog__list"
                     cdkDropList
                     [cdkDropListData]="route.students"
                     (cdkDropListDropped)="drop($event)"
    >
      <mat-divider></mat-divider>

      <mat-list-item *ngFor="let student of route.students; let i = index;" class="routes-dialog__item"
                     [disableRipple]="true">
        <mat-icon cdkDrag>menu

          <div *cdkDragPreview style="display: flex">
            <mat-icon>menu</mat-icon>
            <div class="routes-dialog__item-container">
              <div class="routes-dialog__item-text">{{student.name}}</div>
              <div class="routes-dialog__item-sub-text">{{student.address}}</div>
            </div>
          </div>
        </mat-icon>
        <div style="display: flex; flex-direction: column">
          <div class="routes-dialog__item-text">{{student.name}}</div>
          <div class="routes-dialog__item-sub-text">{{student.address}}</div>
        </div>


        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-action-list>

    <span class="routes-dialog__tag">Fim</span>
    <mat-divider></mat-divider>
  </div>

  <div class="routes-dialog__buttons">
    <button *ngIf="isDeleteEnabled()" mat-stroked-button color="warn" class="routes-dialog__button-delete"
            type="button"
            (click)="delete()">
      Deletar
    </button>
    <button mat-stroked-button color="primary" class="routes-dialog__button" type="button"(click)="close()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" class="routes-dialog__button">
      Salvar
    </button>
  </div>
</form>

