<mat-toolbar color="primary">
  <button mat-icon-button (click)="refresh()" >
    <mat-icon >airport_shuttle</mat-icon>
  </button>

  <span>Vans Manager</span>

  <span class="toolbar__spacer"></span>

  <button mat-icon-button *ngIf="!isLogin"  [matMenuTriggerFor]="menu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/profile']">
      <mat-icon >person</mat-icon>
      <span>Perfil</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>


</mat-toolbar>

