<form #studentFrom="ngForm" class="students-dialog" (ngSubmit)="studentFrom.valid && onSubmit()">
  <h2>Informações do estudante</h2>
  <mat-form-field>
    <input matInput placeholder="Nome" [(ngModel)]="student.name" required>
    <mat-error>
      Insira o nome do estudante
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Turno" [(ngModel)]="student.shift" required>
    <mat-error>
      Insira o turno
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Direction" [(ngModel)]="student.direction" required>
    <mat-error>
      Preenchar esse campo
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Endereço" [(ngModel)]="student.address" required>
    <mat-error>
      Insira o endereço
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Responsável" [(ngModel)]="student.legalGuardianName" required>
    <mat-error>
      Insira o nome do responsável
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Telefone" [(ngModel)]="student.phone" required>
    <mat-error>
      Insira o telefone do responsável
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email" [(ngModel)]="student.email" required>
    <mat-error>
      Insira o email do responsável
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Pagamento" [(ngModel)]="student.paymentAmount" required>
    <mat-error>
      Quantidade a pagar
    </mat-error>
  </mat-form-field>


  <div class="students-dialog__buttons">
    <button mat-stroked-button color="primary" class="students-dialog__button" (click)="close()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" class="students-dialog__button">
      Salvar
    </button>
  </div>
</form>

